@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Sora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(ellipse farthest-corner at bottom left, #01a9f4, #8f30a0, #320c3d, #0d4d97);
  background-size: 300% 300%;
  animation: liquidBackground 10s linear infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

@keyframes liquidBackground {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

header {
  text-align: center;
}

header img {
  width: 12rem;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

h1 {
  font-size: 2.5rem;
  margin: 0 auto 2rem auto;
  color: #4d3ba2;
}

#game-container {
  width: fit-content;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 1rem 3rem;
  border-radius: 30px;
  background: radial-gradient(ellipse farthest-corner at bottom left, #411549, #00364e);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

#players-container {
  width: 95%;
  max-width: 40rem;
  margin: 2rem auto 0.5rem auto;
  display: flex;
  justify-content: center;
}

#players {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 769px) {
  #players {
    flex-direction: row;
  }

  #players li {
    width: auto;
  }

}

#players li {
  display: flex;
  align-items: center;
  width: auto;
  border: none;
  flex-direction: row;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  padding: 0.5rem;
  box-shadow: none;
  transition: none;
  gap: 0.5rem;
}

#players li:hover {
  transform: none;
  box-shadow: none;
}

#players.highlight-player li.active {
  animation: none;
  background: radial-gradient(ellipse farthest-corner at bottom left, #411549, #00364e);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#players.highlight-player li.active .player-name {
  color: #01a9f4;
}


#players button {
  width: auto;
  min-width: 3rem;
  border: none;
  background: rgba(1, 169, 244, 0.8);
  color: #fff;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 0;
  font-weight: bold;
}

#players button:hover {
  background-color: #01a9f4;
  transform: scale(1.05);
}

.player {
  border: none;
  padding: 0;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.player-name {
  display: inline;
  width: auto;
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border-radius: 0;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;

}

.player input {
  font: inherit;
  font-size: 0.7rem;
  width: 100%;
  border: 1px solid #01a9f4;
  padding: 0.2rem;
  animation: pulse-text 2s infinite;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}


.player-symbol {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  margin-right: 0.5rem;
  -webkit-text-stroke: thick;
}

.player-score {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin-right: 0.5rem;
}


ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pre-game {
  text-align: center;
}

#pre-game button {
  cursor: pointer;
  background: none;
  color: #8f30a0;
  border: none;
  font-size: 3rem;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  animation: pulse-text-size 2s infinite ease-out;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem 0;
  padding: 0;
  flex-direction: column;
}

#game-board ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

#game-board button {
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 6px;
  background: #01a9f4;
  color: #4d3ba2;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
}

#game-board button:hover {
  transform: scale(1.1);
  background-color: #29b6f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#game-hints {
  text-align: center;
  color: #46432f;
}

#game-hints h2 {
  font-size: 1.5rem;
  margin: 0;
}

#game-hints ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#game-hints button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #23221f;
  font: inherit;
  margin-top: 1rem;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse-text {
  0% {
    color: #e1dec7;
  }

  50% {
    color: #9f9d83;
  }

  100% {
    color: #e1dec7;
  }
}

@keyframes pulse-text-size {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    border-color: rgba(1, 169, 244, 0.5);
    box-shadow: 0 0 0 0 rgba(1, 169, 244, 0);
  }

  50% {
    border-color: #01a9f4;
    box-shadow: 0 0 0 0.5rem rgba(1, 169, 244, 0.3);
  }

  100% {
    border-color: rgba(1, 169, 244, 0.5);
    box-shadow: 0 0 0 0 rgba(1, 169, 244, 0);
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  80% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {

  #game-board button {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }

  #game-over h2 {
    font-size: 1.8rem;
  }

  #players li {
    padding: 0.7rem;
  }

  #players {
    flex-flow: column;
  }
}

#game-mode-selector {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#game-mode-selector button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

#game-mode-selector button.active,
#game-mode-selector button:hover {
  background-color: #01a9f4;
  color: #fff;
}
