#mode-selection-prompt {
  width: 95%;
  max-width: 40rem;
  margin: 5rem auto 8rem auto;
  padding: 1rem;
  border-radius: 6px;
  background: linear-gradient(#2d2438, #1e1728);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;

}

#mode-selection-prompt h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#mode-selection-prompt img {
  max-width: 65%;
  height: auto;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  #mode-selection-prompt {
    margin: 4rem auto;
  }

  #mode-selection-prompt img {
    max-width: 50%;
    height: auto;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #mode-selection-prompt img {
    max-width: 75%;
    height: auto;
    margin-top: 1rem;
  }
}